.alert{
    color: #0F5298;
}

.line{
    height: 2px;
    border-width:0px ;
    color:#EEEFF3;
    background-color:#EEEFF3;
    margin-top: 20px ;
    width: 600px;
    left: 50px;
    
    position: relative;
    margin-top: 100px;
}