.slogan{
    font-family:'Staatliches';
    font-size: 150px;
    position: relative;
    top: 300px;
    color: white;
    left: 100px;
}

.img{
    background-image: url(bg2.jpg);
    background-size: cover;
    // position: absolute;
    height: 100vh;
    width: 56%;
    display: block;
    left: 0px;
    top: 0px;
}

.homepage{
    
    height: 100vh;
    display: flex;
    width: 100%;
    flex-direction: column;
    margin: 0%;
    outline: 0px;
    border: 0px;
    font-family: "Roboto";
    position: fixed;
}
.right-half{
    // border: 0px solid;
    border-style: double;
    border-radius: 40px;
    width: 58%;
    height: 100vh;
    display: flex;
    
    flex-direction: column;
    position: absolute;
    background-color: white;
   right: 0%;
   top: 0%;
}
.mini-title{
    color:#0F5298;
    text-align: center;
    margin: 90px auto;   
    font-size: 60px;
 }
 .title2{
    color:#0F5298;
    text-align: center;
    margin: 30px  0px;   
    font-size: 40px;
     
 }
 .line{
    height: 2px;
    border-width:0px ;
    color:#EEEFF3;
    background-color:#EEEFF3;
    margin-top: 20px ;
    width: 600px;
    left: 50px;
    
    position: relative;
    margin-top: 100px;
}
.signUp{
    position: relative;
    top: 351px;
    // border: 2px solid;
    border-radius: 30px;
    width: 200px;
    height: 50px;
    background-color: #0F5298;
    color:white;
    left:333px;
    cursor: pointer;
}
 