$alert-width: 500px;
$alert-extra-padding: 50px;

.alert-main {
  animation: fadeIn ease 0.5s;
  width: $alert-width;
  margin: auto;
  position: fixed;
  background-color: white;
  min-height: 250px;
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 9999;
  top: 20vh;
  left: calc(50vw - #{($alert-width/2)});
  border-radius: 20px;
  
  
}

.alert-header {
  font-size: 26px;
  font-weight: 600;
  color: #0F5298;
  font-family: 'Staatliches';
}

.alert-body {
  text-align: center;
  color: #0F5298;
  font-size: 17px;
  font-family: 'Staatliches';
}

.alert-button {
  width: 90px;
  height: 50px;
  display: flex;
  justify-content: center;
  text-decoration: none;
  color: white;
  background-color: #0F5298;
  border-radius: 40px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 30px;
  align-items: center;
  position: relative;
  margin: auto;
}

.backdrop {
  animation: fadeIn ease 1s;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 9998;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}