.CustomButton{
    background-color: #0F5298;
    color:white;
    width:203px;
    height: 50px;
    border-radius: 30px;
    position: relative;
    left:240px; 
    margin-top: 55px;
    cursor: pointer;
    font-family: 'Staatliches';
    font-size: large;
}