.login-form{
    display: flex;
    flex-direction: column;
    margin: 60px;
    position: absolute;
    left: 35px;
    top: 140px;
    /* border: 2px solid; */
    height: 500px;
    width: 700px;
    
}
::placeholder{
   text-align: center;
   font-size: 25px;
   color: #89B4D5;
   justify-content: center;
   
} 