.sign-up{
 
//  border:2px solid ;
 position: relative;
 left: 120px;
 top:0px;
 height: 400px;
 width: 700px;
 display: block;


}
.student-dr{
  position: absolute;
  left: 190px;
  top: 0px;
  display: flex;
  flex-direction: row;
//   border: 2px solid;
  border-radius: 30px;
  width: 250px;
  height: 50px;
  margin: auto;
}
.btn{
    border: none;
    border-radius: 30px;
    background-color: #0F5298;
    color:white;
    position: relative;
    width: 50%;
    height: 100%;
}
.btn1{
    border: none;
    // border-bottom-left-radius: 30px;
    // border-top-left-radius: 30px;
    
    // background-color: #0F5298;
    // color:white;
    color:  #0F5298;
    background-color: white;
    position: relative;
    width: 50%;
    height: 100%;
}
.form{
    position: absolute;
    margin-top: 40px;
    left: -100px;
    top: 20px;
}
.name{
    background-color: #7A7A7A;
    
}