.button{
   
    background-color: #0F5298;
    width: 3cm;
    height: 3cm;
    position: relative;
   
}

.addcard{

    width: 3cm;
    height: 3cm;
    border-radius: 2px solid black;
    padding: 20px; 
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    
}
.div1{
    display: flex;
}

.icon{
    width: 70px;
    height: 70px;
}

